#skills
    width: 60%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    h2
        text-align: center;
        font-size: 34px;
        line-height: 42px;
        color: #ffffff;
        margin-bottom: 5px;
    p
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #ffffff;
    .all-skills
        display: grid;
        grid-template-columns: repeat(4, 3fr);
        text-align: center;
        grid-gap: 20px;
        margin-top: 85px;
        .skill
            display: flex;
            align-items: center;
            flex-direction: column;
            .name
                font-size: 14px;
                line-height: 17px;
                text-align: center;
                color: #ffffff;
                margin-top: 15px;
            img
                width: 90px;
            .star
                .full
                    font-size: 26px;
                    color: gold;
                    font-family: none;
                .empty
                    font-size: 26px;
                    color: gold;
                    font-family: none;
            
@media (max-width: 830px)
    #skills
        width: 100%
        .all-skills
            grid-template-columns: repeat(3, 4fr);

@media (max-width: 550px)
    #skills
        .all-skills
            grid-template-columns: repeat(2, 6fr);
    

