#general
    margin: 0px auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    .info
        width: 100%;
        height: 138px;
        display: grid;
        grid-template-columns: 3fr 9fr;
        .name
            display: flex;
            justify-content: start;
            align-items: flex-end;
            color: #070707;
            font-size: 48px;
            font-weight: bold;
            line-height: 59px;
        .profession
            display: flex;
            justify-content: center;
            align-items: flex-end;
            color: #070707;
            font-size: 18px;
            padding-bottom: 10px;
            line-height: 22px;
    .image
        width: 100%;
        height: 387px;
        background-color: #070707;
        margin-top: 50px;
        margin-bottom: 105px;
    .about_me
        display: flex;
        flex-direction: column;
        color: #070707;
        h2
            text-align: center;
            font-size: 34px;
            line-height: 42px;
        p
            font-size: 18px;
            line-height: 22px;
            text-align: center;


    

